/* utilisateur.css */
.container2 {
    width: 100%;
    height: 100;
    margin: 0 auto;
    padding: 40px;
    background-color: brown;
    position: relative;
    top: 5.4em;
  }
  
  .utilisateur {
    margin-top: 10px;
    text-align: center;
    padding: 50px;
    background-color: beige;
    height: 100%;
  }

  .utilisateur h1 {
    margin-bottom: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: center;
  }
  
  th {
    background-color: #fec816;
  }

  td {
    background-color: white;
  }

  table button {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #787878;
  }

  table .btn1 {
    background-color: #fec816;
    position: relative;
    right: 1em;
  }

  table .btn2 {
    background-color: red;
    position: relative;
    left: 1em;
    color: white;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal-content {
    background-color: beige;
    padding: 20px;
    border-radius: 5px;
    width: 30%;
    min-width: 300px;
    position: relative;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-bottom: 10px;
}

.modal-content input,
.modal-content select {
    padding: 8px;
    margin-top: 5px;
    margin-left: 5px;
}

.modal-content button {
    background-color: #fec816;
    width: 50%;
    border: none;
    padding: 10px;
    margin: 20px auto;
    cursor: pointer;
    border: 1px black solid;

}

.close {
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
    font-size: 1.5rem;
    color: #333;
}

.gestion-produits {
  text-align: center;
  padding: 50px;
  background-color: beige;
  height: 100%;  
}

.gestion-produits form {
  margin-top: 35px;
}

.gestion-produits form button {
  background-color: #fec816;
  width: 10%;
}

.form-groupAdmin {
  display: flex;
}

.form-groupAdmin input {
  margin-left: 10px;
}

.form-groupAdmin label {
  margin-top: 15px;
  margin-left: 25px;
}